{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-sm">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Création de compte</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
        <a href="{{ path('app_login') }}" class="btn btn-lg btn-success">J'ai déjà un compte</a>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
